@page
@model Lab1.UI.Pages.Admin.Sweets.CreateModel
@{
    ViewData["Title"] = "Добавить сладость";
}

<h4>Добавить сладость</h4>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Item.Name" class="form-label"></label>
        <input asp-for="Item.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Item.Description" class="form-label"></label>
        <input asp-for="Item.Description" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Item.Price" class="form-label"></label>
        <input asp-for="Item.Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Item.CategoryId" class="form-label">Категория</label>
        <select asp-for="Item.CategoryId" asp-items="Model.Categories" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label class="form-label">Изображение</label>
        <input asp-for="Image" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-page="Index" class="btn btn-secondary">Отмена</a>
</form>

@section Scripts{
    <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
}

