@page "{id:int}"
@model Lab1.UI.Pages.Admin.Sweets.DeleteModel
@{
    ViewData["Title"] = "Удалить сладость";
}

<h1 class="h3 mb-3 text-danger">Удалить сладость</h1>

<p>Вы уверены, что хотите удалить сладость <strong>@Model.Item.Name</strong>?</p>

<form method="post">
    <input type="hidden" asp-for="Item.Id" />
    <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Удалить</button>
    <a asp-page="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Отмена</a>
  </form>

